<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Valampuri Restaurant</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Links-->
    <link type="text/css" rel="stylesheet" th:href="@{/css/index.css}">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
    <style>
        img {
            border-radius: 50%;
        }
    </style>
</head>

<body>
<section class="firstSection">
    <nav>
        <a href="/home"><img th:src="@{/img/logo.PNG}" alt="Logo" style="border-radius: 50%"></a>
        <a href="/new">Add Menu</a>
        <a href="/menuadd">View Menu</a>

        <a href="/logout" class="signUp">Log out</a>
    </nav>
    <div class="rightNav">
        <h3>Hello  <b>admin!!!</b> </h3>
        <h2>Welcome to Valampuri</h2>
    </div>
</section>


<!-- Scripts -->
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="static/js/jquery-1.11.1.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
</body>
</html>